/* Mobile layout */

@media only screen and (min-width:320px) and (max-width:480px) {
   body {
    text-align: center;
    font: 100% serif;
    margin:0;
    padding:0;
}

header {
    background:#7CD9FE;
    color:#000;
    width:250px;
    margin-left:auto;
    margin-right: auto;
}

header #author {
    padding-top:127px;
    background: url(../img/author1.jpg)no-repeat;
    border-radius: 50%;
    width:50%;
    border:10px solid #fff;
    margin-left: auto;
    margin-right: auto;
}


header nav ul {
    list-style: none;
}

header nav ul li {
    display:block;
    padding:10px;
}

header nav ul li a {
    text-decoration:none;
    padding:15px;
    display: block;
    color:#fff;
    font-size:1.5em;
    transition:all 0s ease;
}

header nav ul li a:hover {
    border-bottom:5px;
}

section#jumbotron {
    width:250px;
    background:url(../img/jumbotron.jpg) no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

section#jumbotron h1 {
    color:#fff;
    padding:10px;
    padding-top:200px;
    font:1.5em 'PT Serif', serif;
}

section#jumbotron a {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    padding:25px;
    padding-left:30px;
    padding-right:30px;
    margin-top:50px;
    font-size: 2em;
    text-align: left;
    border:1px solid #fff;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
}

section#jumbotron a:hover {
    background:#7CD9FE;
}

section#about-me {
    width:250px;
    margin-left:auto;
    margin-right:auto;
}

section#about-me h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#about-me .col-1,.col-2 {
    width:90%;
    float: none;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 2em;
    font-family: 'PT Serif', serif;
}

section#about-me button {
    clear: left;
    display: block;
    width:90%;
    padding:15px;
    margin:50px auto;
    color:white;
    font-size: 1.2em;
    border:0;
    outline: none;
    border-radius:5px;
    cursor: pointer;
    background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#about-me button:hover {
    background: #9dd53a;
}

section#portfolio {
    width:250px;
    clear:none;
    margin-left: auto;
    margin-right: auto;
}

section#portfolio h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#portfolio .col-3,.col-4,.col-5,.col-6 {
    width:100%;
    height:auto;
    margin:10px auto;
    margin-left:auto;
    margin-right: auto;
    float:none;
}

section#portfolio .col-7,.col-8,.col-9,.col-10 {
    width:100%;
    height:auto;
    margin:10px auto;
    float:none;
    margin-left:auto;
    margin-right: auto;
}

section#portfolio .col-11,.col-12,.col-13,.col-14 {
    width:100%;
    height:auto;
    margin:10px auto;
    float:left;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
}

section#contact-us {
    width:250px;
    clear:none;
    margin-left: auto;
    margin-right: auto;
}

section#contact-us h1 {
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#contact-us form {
    width:100%;
    margin:10px auto;
}

section#contact-us form label {
    display: block;
    width:50%;
    margin:10px auto;
    font-size: 1.5em;
}

section#contact-us form .padd {
    width:90%;
    padding:20px;
}

section#contact-us input[type="submit"] {
    display: block;
    width:90%;
    margin:10px auto;
    color: white;
    font-size:1.2em;
    padding:15px;
    border:0;
    border-radius:5px;
    outline: none;
    background: #9dd53a; /* Old browsers */
background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#contact-us input[type="submit"]:hover {
    background: #9dd53a;
}

footer {
    width:250px;
    background:#5fa026;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    float: none;
}

footer nav h2 {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}

footer nav ul {
    list-style: none;
    
}

footer nav ul li a {
    text-decoration:none;
    display: block;
    padding:15px;
    text-align: left;
    color:#fff;
}

footer .social-connect {
    width:90%;
    float:none;
    margin-left: auto;
    margin-right: auto;
}

footer .social-connect h2 {
   margin-top: 20px;
   font-size: 3em;
  font-family: 'Orbitron', sans-serif;
}


footer .social-connect ul {
    list-style:none;
}

footer .social-connect ul li {
    display:inline-block;
    color:#fff;
    cursor: pointer;
}

footer .social-connect ul li:nth-child(1)  {
    background: url(../img/result.png) no-repeat 10px 10px;
    height:40px;
    width:50px;
}

footer .social-connect ul li:nth-child(2)  {
    background: url(../img/result.png) no-repeat 10px -30px;
    height:40px;
    width:50px
}

footer .social-connect ul li:nth-child(3)  {
    background: url(../image/result.png) no-repeat 10px -75px;
    height:40px;
    width:50px
}


footer .policy {
    width:90%;
    float:none;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    line-height: 1.5em;
}

footer .policy span {
    color:hotPink;
    cursor: pointer;
}

footer .policy span:hover {
    text-decoration:underline;
    color:#000;
}

}


@media only screen and (min-width:480px) and (max-width:768px)  {
    
    body {
    text-align: center;
    font: 100% serif;
    margin:0;
    padding:0;
}

header {
    background:#7CD9FE;
    color:#000;
    width:450px;
    margin-left:auto;
    margin-right: auto;
}

header #author {
    padding-top:127px;
    background: url(../img/author1.jpg)no-repeat;
    border-radius: 50%;
    width:27%;
    border:10px solid #fff;
    margin-left: auto;
    margin-right: auto;
}


header nav ul {
    list-style: none;
}

header nav ul li {
    display:block;
    padding:10px;
}

header nav ul li a {
    text-decoration:none;
    padding:15px;
    display: block;
    color:#fff;
    font-size:1.5em;
    transition:all 0s ease;
}

header nav ul li a:hover {
    border-bottom:5px;
}

section#jumbotron {
    width:450px;
    background:url(../img/jumbotron.JPG) no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

section#jumbotron h1 {
    color:#fff;
    padding:10px;
    padding-top:200px;
    font:1.5em 'PT Serif', serif;
}

section#jumbotron a {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    padding:25px;
    padding-left:30px;
    padding-right:30px;
    margin-top:50px;
    font-size: 2em;
    text-align: left;
    border:1px solid #fff;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
}

section#jumbotron a:hover {
    background:#7CD9FE;
}

section#about-me {
    width:450px;
    margin-left:auto;
    margin-right:auto;
}

section#about-me h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#about-me .col-1,.col-2 {
    width:90%;
    float: none;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    line-height: 2em;
    font-family: 'PT Serif', serif;
}

section#about-me button {
    clear: left;
    display: block;
    width:60%;
    padding:15px;
    margin:50px auto;
    color:white;
    font-size: 1.2em;
    border:0;
    outline: none;
    border-radius:5px;
    cursor: pointer;
    background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#about-me button:hover {
    background: #9dd53a;
}

section#portfolio {
    width:450px;
    clear:none;
    margin-left: auto;
    margin-right: auto;
}

section#portfolio h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#portfolio .col-3,.col-4,.col-5,.col-6 {
    width:100%;
    height:auto;
    margin:10px auto;
    margin-left:auto;
    margin-right: auto;
    float:none;
}

section#portfolio .col-7,.col-8,.col-9,.col-10 {
    width:100%;
    height:auto;
    margin:10px auto;
    float:none;
    margin-left:auto;
    margin-right: auto;
}

section#portfolio .col-11,.col-12,.col-13,.col-14 {
    width:100%;
    height:auto;
    margin:10px auto;
    float:left;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
}

section#contact-us {
    width:450px;
    clear:none;
    margin-left: auto;
    margin-right: auto;
}

section#contact-us h1 {
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#contact-us form {
    width:100%;
    margin:10px auto;
}

section#contact-us form label {
    display: block;
    width:50%;
    margin:10px auto;
    font-size: 1.5em;
}

section#contact-us form .padd {
    width:90%;
    padding:20px;
}

section#contact-us input[type="submit"] {
    display: block;
    width:60%;
    margin:10px auto;
    color: white;
    font-size:1.2em;
    padding:15px;
    border:0;
    border-radius:5px;
    outline: none;
    background: #9dd53a; /* Old browsers */
background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#contact-us input[type="submit"]:hover {
    background: #9dd53a;
}

footer {
    width:450px;
    background:#5fa026;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    float: none;
}

footer nav h2 {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}

footer nav ul {
    list-style: none;
    
}

footer nav ul li a {
    text-decoration:none;
    display: block;
    padding:15px;
    text-align: center;
    color:#fff;
}

footer .social-connect {
    width:100%;
    float:none;
    margin-left: auto;
    margin-right: auto;
}

footer .social-connect h2 {
   margin-top: 20px;
   font-size: 3em;
   font-family: 'Orbitron', sans-serif;
}


footer .social-connect ul {
    list-style:none;
}

footer .social-connect ul li {
    display:inline-block;
    color:#fff;
    cursor: pointer;
}

footer .social-connect ul li:nth-child(1)  {
    background: url(../img/result.png) no-repeat 10px 10px;
    height:40px;
    width:50px;
}

footer .social-connect ul li:nth-child(2)  {
    background: url(../img/result.png) no-repeat 10px -30px;
    height:40px;
    width:50px
}

footer .social-connect ul li:nth-child(3)  {
    background: url(../img/result.png) no-repeat 10px -75px;
    height:40px;
    width:50px
}


footer .policy {
    width:100%;
    float:none;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
    line-height: 1.5em;
}

footer .policy span {
    color:hotPink;
    cursor: pointer;
}

footer .policy span:hover {
    text-decoration:underline;
    color:#000;
}
}

/* Tablet Layout */

@media only screen and (min-width:768px) and (max-width:1024px) {
    body {
    text-align: center;
    font: 100% serif;
    margin:0;
    padding:0;
}

header {
    background:#7CD9FE;
    color:#000;
    width:750px;
    margin-left: auto;
    margin-right: auto;
}

header #author {
    padding-top:127px;
    background: url(../img/author1.jpg)no-repeat;
    border-radius: 50%;
    width:17%;
    border:10px solid #fff;
    margin-left: auto;
    margin-right: auto;
}


header nav ul {
    list-style: none;
}

header nav ul li {
    display:inline-block;
    padding:15px;
}

header nav ul li a {
    text-decoration:none;
    padding:15px;
    display: block;
    color:#fff;
    font-size:1.5em;
    transition:all 2s ease;
}

header nav ul li a:hover {
    border-bottom:5px solid hotPink;
}

section#jumbotron {
    width:750px;
    height:1000px;
    background:url(../img/jumbotron.JPG) no-repeat;
    background-size: cover;
    margin:0 auto;
    margin-left:auto;
    margin-right: auto;
}

section#jumbotron h1 {
    color:#fff;
    padding:100px;
    line-height: 3em;
    font:2em 'PT Serif', serif;
}

section#jumbotron a {
    text-decoration:none;
    color:#fff;
    display:inline-block;
    padding:25px;
    padding-left:70px;
    padding-right:70px;
    margin-top:50px;
    font-size: 2em;
    text-align: left;
    border:1px solid #fff;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
}

section#jumbotron a:hover {
    background:#7CD9FE;
}

section#about-me {
    width:750px;
    margin-left: auto;
    margin-right: auto;
}

section#about-me h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#about-me .col-1,.col-2 {
    width:40%;
    float: left;
    margin-left:70px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 2em;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
}

section#about-me button {
    clear: left;
    display: block;
    width:40%;
    color: white;
    padding:15px;
    margin:50px auto;
    border:0;
    outline: none;
    border-radius:5px;
    cursor: pointer;
    font-size: 1.2em;
    background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#about-me button:hover {
    background: #9dd53a;
}

section#portfolio {
    width:750px;
    clear: left;
    margin-left: auto;
    margin-right: auto;
}

section#portfolio h1 {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}
    
section#portfolio .col-3,.col-4,.col-5,.col-6 {
    width:20%;
    height:auto;
    margin:10px;
    float:left;
}
    
section#portfolio .col-4 {
    margin-left:100px;
}
    
section#portfolio .col-5 {
    margin-left:100px;
}

section#portfolio .col-7,.col-8,.col-9,.col-10 {
    width:20%;
    height:auto;
    margin:10px auto;
    float:left;
    margin-left: 30px;
}
    
section#portfolio .col-7 {
    margin-left:100px;
}
    
 section#portfolio .col-8 {
    margin-left:110px;
}
    
 section#portfolio .col-9 {
    margin-left:9px;
}

section#portfolio .col-11,.col-12,.col-13,.col-14 {
    width:20%;
    height:auto;
    margin:10px auto;
    float:left;
    margin-left: 30px;
    margin-bottom: 50px;
}
    
section#portfolio .col-10 {
    margin-left:110px;
}
    
section#portfolio .col-11 {
    margin-left:110px;
}
    
 section#portfolio .col-12 {
    margin-left:9px;
}
    
 section#portfolio .col-13 {
    margin-left:110px;
}
    
 section#portfolio .col-14 {
    margin-left:110px;
}

section#contact-us {
    width:750px;
    clear: left;
    margin-left: auto;
    margin-right: auto;
}

section#contact-us h1 {
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
}

section#contact-us form {
    width:90%;
    margin:10px auto;
}

section#contact-us form label {
    display: block;
    width:50%;
    margin:10px auto;
    font-size: 1.5em;
}

section#contact-us form .padd {
    width:60%;
    padding:20px;
}

section#contact-us input[type="submit"] {
    display: block;
    width:30%;
    font-size: 1.2em;
    color:white;
    margin:10px auto;
    padding:15px;
    border:0;
    border-radius:5px;
    outline: none;
    background: #9dd53a; /* Old browsers */
background: #cdeb8b; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8b 0%,#cdeb8b 100%); /* W3C */
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    -ms-transition:all 2s ease;
    transition:all 2s ease;
    cursor:pointer;
}

section#contact-us input[type="submit"]:hover {
    background: #9dd53a;
}

footer {
    width:750px;
    background:#5fa026;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    width: 30%;
    margin-left:50px;
    float: left;
}

footer nav h2 {
    text-align: left;
    margin-left:50px;
    margin-top: 20px;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}

footer nav ul {
    list-style: none;
    
}

footer nav ul li a {
    text-decoration:none;
    display: block;
    padding:15px;
    text-align: left;
    color:#fff;
}

footer .social-connect {
    width:30%;
    float:left;
}

footer .social-connect h2 {
   margin-top: 20px;
   font-size: 3em;
   font-family: 'Orbitron', sans-serif;
}


footer .social-connect ul {
    list-style:none;
}

footer .social-connect ul li {
    display:inline-block;
    color:#fff;
    cursor: pointer;
}

footer .social-connect ul li:nth-child(1)  {
    background: url(../img/result.png) no-repeat 10px 10px;
    height:40px;
    width:50px;
}

footer .social-connect ul li:nth-child(2)  {
    background: url(../img/result.png) no-repeat 10px -30px;
    height:40px;
    width:50px
}

footer .social-connect ul li:nth-child(3)  {
    background: url(../img/result.png) no-repeat 10px -75px;
    height:40px;
    width:50px
}


footer .policy {
    width:30%;
    float:left;
    margin-top:50px;
    color:#fff;
    line-height: 1.5em;
}

footer .policy span {
    color:hotPink;
    cursor: pointer;
}

footer .policy span:hover {
    text-decoration:underline;
    color:#000;
}

}