/* Mobile layout */

@media screen and (min-width:240px)and (max-width:320px) {

     
}

@media screen and (min-width:320px) and (max-width:480px) {
    
header {
    width:100%;
    margin-left:auto;
    margin-right: auto;
}

header #author {
    padding-top:12px;
    background: url();
    border-radius:0;
    width:32%;
    border:0;
} 
    
header #author1 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border:5px solid #0b0b0b;
    border-radius: 50%;
    width:100%;
}
    
header nav ul li a {
    text-decoration:none;
    padding:15px;
    display: block;
    color:#fff;
    font-size:1.5em;
    transition:all 2s ease;
}

header nav ul li {
    display:block;
    padding:5px;
    margin-left: -50px;
}
    
header nav ul li:hover {
    border-bottom:5px;
}

header nav ul li:first-child {
    border-bottom:5px;
}
    
section#intro {
    width:100%;
    height:700px;
    margin:0 auto;
}

section#intro h1 {
    color:#fff;
    padding:40px;
    margin-top: 50px;
    font:1.7em 'Open Sans Condensed', sans-serif;
}
    
section#about-me {
    width:100%;
    height:980px;
}
    
section#about-me .me {
    text-align: left;
    font:1.5em bold 'Open Sans Condensed', sans-serif;
}
    
section#about-me a {
    width:90%;
}

section#portfolio {
    width:100%;
    height:1100px;
}
    
section#portfolio #github {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
    
section#portfolio #behance {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
    
section#portfolio #codepen {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
    
footer .social-connect ul li {
    display: inline-block;
    padding-left: 0;
}

  
}

@media screen and (min-width:480px) and (max-width:768px)  {
    
 header {
    width:100%;
    margin-left:auto;
    margin-right: auto;
}

 header #author {
    padding-top:12px;
    background: url();
    border-radius:0;
    width:32%;
    border:0;
}
    
    header #author1 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border:5px solid #0b0b0b;
    border-radius: 50%;
    width:100%;
}
    
header nav ul li a {
    text-decoration:none;
    padding:15px;
    display: block;
    color:#fff;
    font-size:1.5em;
    transition:all 2s ease;
}

header nav ul li {
    display:block;
    padding:5px;
    margin-left: -50px;
}
    
header nav ul li:hover {
    border-bottom:5px;
}

header nav ul li:first-child {
    border-bottom:5px;
}
    
section#intro {
    width:100%;
    height:700px;
    margin:0 auto;
}

section#intro h1 {
    color:#fff;
    padding:40px;
    margin-top: 50px;
    font:1.7em 'Open Sans Condensed', sans-serif;
}
    
section#about-me {
    width:100%;
    height:850px;
}
    
section#about-me .me {
    text-align: left;
    font:1.5em bold 'Open Sans Condensed', sans-serif;
}
    
section#about-me a {
    width:50%;
}
    
section#portfolio {
    width:100%;
    height:1100px;
}
    
section#portfolio #github {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
    
section#portfolio #behance {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}  
    
section#portfolio #codepen {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
    
footer .social-connect ul li {
    display: inline-block;
    padding-left: 0;
}
    
    
}

/* Tablet Layout */

@media screen and (min-width:768px) and (max-width:1024px) {

header #author {
    padding-top:12px;
    background: url();
    border-radius: 50%;
    width:37%;
    border:10px;
    margin-left: auto;
    margin-right: auto;
}
    
header #author1 {
    display: inline;
    border:5px solid #0b0b0b;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:50%;
}
    
section#about-me {
    width:100%;
    height:800px;
}
    
section#about-me a {
    width:50%;
}
    
section#portfolio #github {
    float: left;
    margin-left: 0;
}  
    
section#portfolio #behance {
    float: left;
    margin-left: 10px;
}  
    
section#portfolio #codepen {
    float: left;
    margin-left: 10px;
}

}

/* Desktop Layout */

@media screen and (min-width:1324px) and (max-width:1920px) {
    
    header #author {
    padding-top:127px;
    background: url(../img/author1.jpg)no-repeat;
    border-radius: 50%;
    width:9%;
    border:5px solid #0b0b0b;
    margin-left: auto;
    margin-right: auto;
}
    
}